

<form action="/operating-list-items/find-operating-item" method="post" enctype="multipart/form-data">
    <div>
        <div class="fallback">
            <input id="findBarcode" name="barcode" placeholder="Unesite barocde" type="text" />
            <button type="submit" value="Submit" class="btn-success bigger-110" style="position: absolute; left: -9999px ">Submit</button>
        </div>
    </div>
    <div class="space-20"></div>
</form>