<div class="row">
    <div class="col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="space-30"></div>
                <div class="row">
                   <h1>dsfsfs</h1>
                </div>
            </div>
        </div>
    </div>
</div>