#page-wrapper
  min-height: 720px

.datepicker.datepicker-dropdown
  z-index: 99999 !important

.img-responsive
  display: inline-block

.middle-box
  margin-top: 0 !important
  top: 0 !important
  height: auto

input[type="file"]
  height: auto!important

.fa-official-web:before
  content: "\f0ac"

.cardActive
  background-color: pink!important

.note-editor
  .note-editable
    background-color: #fff
    border: 1px solid #e5e6e7
    border-radius: 1px
    height: 200px
    overflow-y: auto

.note-editor
  .note-toolbar
    background: none

.popover
  z-index: 99999 !important

.wizard
  .content
    position: inherit !important
    min-height: 650px !important

.no-padding-th, .no-padding-td
  padding: 8px 6px!important
  text-align: center

#flash-session
  display: none

.btn-sm
  padding: 3px 8px

img.img-circle
  border: 1px solid #ccc
  padding: 3px

img.img-18
  width: 18px
  height: 18px

img.img-36
  width: 36px
  height: 36px

img.img-48
  width: 48px
  height: 48px

img.img-64
  width: 64px
  height: 64px

img.img-72
  width: 72px
  height: 72px

img.img-96
  width: 96px
  height: 96px

.gm-style-iw
  div
    div
      overflow: hidden !important

.tooltip-window
  width: 270px
  height: auto
  padding: 0
  margin: 0
  overflow: hidden !important

.tooltip-inner
  white-space: pre-wrap

.flash-notification
  text-align: left !important

#search-results
  max-height: 200px
  overflow: auto
  z-index: 9
  margin: 0 50px
  display: block
  position: absolute
  top: 0
  left: 0
  right: 0
  color: $darkGray
  background-color: $lightGray

  a
    padding: 10px 20px
    color: $darkGray
    border-bottom: 1px solid #fff
    display: block
    text-align: left
    &.hover
      background-color: $gray
      color: #fff
      span
        color: #fff
    &:hover
      background-color: $gray
      color: #fff
      span
        color: #fff

    span
      text-transform: uppercase
      color: $gray
      font-size: 75%

    &:last-child
      border-bottom: none


.light-gray-box
  border-radius: 8px
  padding: 8px
  background-color: #dddddd

.dark-gray-box
  border-radius: 8px
  padding: 8px
  background-color: $darkGray

.dashboard-legend ul::before, .dashboard-legend ul::after
  clear: both
  content: " "
  display: table

.dashboard-legend li
  float: left
  margin: 5px
  list-style-type: none

.dashboard-legend span
  display: inline-block
  height: 10px
  margin-right: 5px
  max-width: 36px
  padding: 2px
  width: 10px

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
  border-top: 1px solid #bbb!important

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
  border-top: 1px solid #bbb!important

.wizard-big.wizard > .content
  min-height: 500px

/*  Phone  : 480px */
@media only screen and (max-width: 767px)

.top-navigation
  .navbar-right
    float: none
    margin: 8px -15px

.nav.navbar-top-links
  a
    font-size: 16px

.social-button
  cursor: pointer
  color: #fff
  padding: 8px !important
  width: 100%
  text-align: left
  margin-bottom: 15px !important
  border-radius: 5px
  &:hover, &:active
    color: #fff
  &.facebook
    background: #3f5992
  &.google
    background: $red
  &.twitter
    background: $blue
  span
    width: 24px
    padding-right: 15px
    text-align: center
    display: inline-block
    border-right: 1px solid #fff
    margin-right: 10px
    float: left

.bold
  font-weight: bold

.bigger-110
  font-size: 110%!important

.bigger-120
  font-size: 120%!important

.bigger-140
  font-size: 140%!important

.bigger-160
  font-size: 160%!important

.bigger-180
  font-size: 180%!important

.bigger-200
  font-size: 200%!important

.space-5
  margin: 5px 0

.hr-line-solid-2
  margin-bottom: 5px!important
  margin-top: 5px!important
  border: 2px solid #000000 !important
  width: 100%

.sunday
  background: #eacfc1!important

.col-xs-1-5
  width: 8.44445%

body
  background: #fff !important
  font-family: 'PT Sans', sans-serif
  color: $gray
  font-size: 14px
  line-height: 17px

.flatpickr-wrapper
  position: relative
  display: block

.flatpickr-calendar
  &.static
    &.open
      position: absolute
      top: 100%
      margin-left: -20px
      margin-top: 34px


.nav-tabs
  li
    a
      outline: none

#scroll
  height: 385px !important
  overflow: scroll

@media only screen and (max-width: 780px)

  h1.call-to-action-header
    font-size: 30px !important
  .how-it-works .btn-hwp-white
    float: left
    margin-right: 5px
  #footer .wrapper
    padding: 0px 40px

  .sign-up-reg-form
    padding-left: 15px !important

  .top-last
    margin-top: 5px
  .flipper
    min-height: 640px

  .inner-div
    height: 240px!important

  .se-hwp
    margin-bottom: 2px

  .badge-white
    width: 100%
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    text-align: left

  .bid-bottom
    margin-bottom: 15px

  .btn-xs
    &.text-uppercase
      margin-left: 2px!important

@media only screen and (max-width: 640px)
  .lifetime
    border: none !important
    margin-left: 10px !important
    margin-right: 0 !important
    padding-left: 0 !important
    font-size: 16px

  .inner-div
    height: 260px!important


  .no-margin-left
    margin-left: 15px !important

  .no-margin-right
    margin-right: 15px !important

  .no-padding-left
    padding-left: 15px !important

  .no-padding-right
    padding-right: 15px !important

  .small-middle
    float: none
    text-align: center
    margin-top: 20px

  #download
    margin-top: 5px

/* Phone  : 320px */
@media only screen and (max-width: 479px)

  .top-navigation .wrapper.wrapper-content
    padding: 15px 0
    margin: 0

  .inner-div
    height: 270px!important


a.white
  color: #fff

.arrow-nav
  border: 1px solid $borderColor
  a
    display: block
    color: $gray
    padding: 8px 15px 5px 15px

  &.left
    border-bottom-left-radius: 5px
    border-top-left-radius: 5px
    border-right: none!important

  &.right
    border-bottom-right-radius: 5px
    border-top-right-radius: 5px

.navbar-top-links
  background-color: transparent!important
  li a
    color: $darkGray
    font-size: 16px!important

.navbar-top-links
  .dropdown-menu
    li
      a
        &.inside
          padding: 0
          font-size: 12px!important
          display: block

.orange
  color: orange
  a, small, span, strong, p
    color: orange

.bg-green
  background: rgba(70, 225, 0, 0.3)!important

.bg-red
  background: rgba(255, 0, 0, 0.3)!important

.bg-light
  background: rgba(152, 226, 230, 1)!important

.red
  color: red
  a, small, span, strong, p
    color: red

.table-bordered
  &.contract
    border: none

.print
  font-size: 16px
  font-weight: bold !important

.table
  &.contract
    td
      border-color: #000!important
      padding-top: 0!important
      &.no-borders
        border: none!important

      &.no-border-right
        border-right: none!important

      &.no-border-left
        border-left: none!important

      small
        float: left
.redClass
  background-color: lightgreen

.btn-circle.btn-lg
  padding: inherit!important

.sample-note
  height: 313px!important

.chosen-container
  width: 100% !important

.input-ghost
  height: 0!important
  padding: 0!important
  max-height: 1px

.spinner input
  text-align: right

.input-group-btn-vertical
  position: relative
  white-space: nowrap
  width: 1%
  vertical-align: middle
  display: table-cell

.input-group-btn-vertical > .btn
  display: block
  float: none
  width: 100%
  max-width: 100%
  padding: 8px
  margin-left: -1px
  position: relative
  border-radius: 0

.input-group-btn-vertical > .btn:first-child
  border-top-right-radius: 4px

.input-group-btn-vertical > .btn:last-child
  margin-top: -2px
  border-bottom-right-radius: 4px

.input-group-btn-vertical i
  position: absolute
  top: 0
  left: 4px

.input-group
  &.spinner
    padding: 0 15px!important

.nav
  &.navbar-top-links
    .dropdown-alerts
      a
        font-size: 12px !important
        &:hover
          background: #f5f5f5
        &.cls
          background: #f5f5f5
.modal-open
  .modal
    background: rgba(100, 100, 100, 0.4)

.modal-content
  border-radius: 20px
  width: 90%
  height: 100% !important
  display: inline-table
  min-height: 100% !important

thead
  display: table-header-group!important
tfoot
  display: table-row-group!important
tr
  page-break-inside: avoid!important

@media print
  .table-responsive
    overflow: visible !important

.modal-header
  .close
    font-size: 32px

.minus-15
  margin-top: -15px

#testFakeInout
  position: absolute
  z-index: -9999

.has-error .chosen-container-single .chosen-single
  border-color: #da5551!important

.ui-autocomplete
  z-index: 2051!important

.ui-widget-content
  a
    display: block
    padding: 10px

.no-padding-right
  padding-right: 0!important

.no-padding-left
  padding-left: 0!important

.no-margin-right
  margin-right: 0!important


.no-pmargin-left
  margin-left: 0!important


.bd-ud
  margin: 5px 0
  border-bottom: 1px solid #ccc
  width: 100%
  float: left

.dataTable
  tbody
    td
      vertical-align: middle !important

.zero-x
  width: 0px
  overflow: hidden

.zero-x.col-xs-6
  width: 50%
  overflow: visible

.flatpickr-calendar
  &.open
    z-index: 1000

.verticalTableHeader
  text-align: center
  white-space: nowrap
  transform: rotate(90deg)

.verticalTableHeader p
  margin: 0 -100%
  display: inline-block

.verticalTableHeader p:before
  content: ''
  width: 0
  padding-top: 110%
  display: inline-block
  vertical-align: middle

  .vert-header td
    writing-mode: vertical-lr
    min-width: 50px

.white-popup
  position: relative
  background: #FFF
  padding: 20px
  width: auto
  max-width: 500px
  margin: 20px auto

.priority-catalog
  img
    margin-bottom: 20px

.tag-editor
  border-radius: 3px
  padding: 3px
  background: #ddd

td.open, h3.open
  position: relative
  ul
    right: 0
    top: auto

#myImg
  border-radius: 5px
  cursor: pointer
  transition: 0.3s
  &:hover
    opacity: 0.7

#caption
  margin: auto
  display: block
  width: 80%
  max-width: 700px
  text-align: center
  color: #ccc
  //padding: 10px 0
  height: 150px

/* Add Animation

.modal-content, #caption
  -webkit-animation-name: zoom
  -webkit-animation-duration: .7s
  animation-name: zoom
  animation-duration: .7s

@-webkit-keyframes zoom
  0%
    -webkit-transform: scale(0.1)

  100%
    -webkit-transform: scale(1.0)


@keyframes zoom
  0%
    transform: scale(0.1)

  100%
    transform: scale(1.0)


.close
  position: absolute
  //top: 15px
  right: 35px
  color: #000
  font-size: 40px
  font-weight: bold
  transition: 0.3s
  &:hover, &:focus
    color: #bbb
    text-decoration: none
    cursor: pointer

/* 100% Image Width on Smaller Screens
@media only screen and (max-width: 700px)
  .modal-content
    width: 70%

/* The Modal (background) */
.modal
  display: none /* Hidden by default */
  position: fixed /* Stay in place */
  z-index: 1 /* Sit on top */
  left: 0
  top: 0
  width: 100% /* Full width */
  height: 100% /* Full height */
  overflow: auto /* Enable scroll if needed */
  background-color: rgb(0,0,0) /* Fallback color */
  background-color: rgba(0,0,0,0.4) /* Black w/ opacity */

/* The Close Button */
.close
  color: #aaaaaa
  float: right
  font-size: 28px
  font-weight: bold

.close:hover,
.close:focus
  color: #000
  text-decoration: none
  cursor: pointer

.bar-container
  width: 140px
  height: 40px
  border: 3px double red
  margin: 10px auto
  cursor: pointer

.bar-container div
  display: inline-block
  width: 15px
  height: 100%
  background-color: #ff9800
  animation: ani 2s linear infinite reverse

.bar-container div
  &.l1
    animation-delay: .1s

  &.l2
    animation-delay: .2s

  &.l3
    animation-delay: .3s

  &.l4
    animation-delay: .4s

  &.l5
    animation-delay: .5s

  &.l6
    animation-delay: .5s

  &.l7
    animation-delay: .7s

@keyframes ani
  0%,50%
    opacity: 0

  80%,100%
    opacity: 1

#barcode-form
  position: absolute
  top: -9999px

.modal-body
  max-height: 700px

@-webkit-keyframes borderBlink
  50%
    border-color: #1ab394
    background: #d2fdf6

@keyframes borderBlink
  50%
    border-color: #1ab394
    background: #d2fdf6

.borderBlink
  animation-name: borderBlink
  animation-duration: .5s
  animation-timing-function: step-end
  animation-iteration-count: 4
  animation-direction: alternate
  z-index: 3!important
