@font-face
  font-family: 'Montserrat'
  src: url('../fonts/montserrat/montserrat-regular.eot')
  src: url('../fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-regular.woff') format('woff'), url('../fonts/montserrat/montserrat-regular.ttf') format('truetype'), url('../fonts/montserrat/montserrat-regular.svg#fontname') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PT Sans'
  src: url('../fonts/pt-sans/PTS55F-webfont.eot')
  src: url('../fonts/pt-sans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-sans/PTS55F-webfont.woff') format('woff'), url('../fonts/pt-sans/PTS55F-webfont.ttf') format('truetype'), url('../fonts/pt-sans/PTS55F-webfont.svg#fontname') format('svg')
  font-weight: normal
  font-style: normal