<div class="row">

    <div class="col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="text-center">
                    <h1>because we love IT</h1>
                    <img src="{{ siteUrl }}/img/logo_bebakids.jpg" width="300px" alt="">
                    <div class="space-30"></div>
                    <div class="space-30"></div>
                    <video autoplay="autoplay" loop="loop">
                        <source src="http://www.bebakids.com/elkarta/promo.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="space-30"></div>

                </div>
            </div>
        </div>
    </div>
</div>